/**************************
PADRÕES
*************************/
.no-padding{
	padding: 0px;
}

.centro{
	height: 100%;
	display: flex;
	align-items: center;
}

a{
	color: #fff;
}

a:hover{
	text-decoration: none;
	color: #fff;
}

/**************************
BOTÕES
*************************/

.btn-entrar,
.btn-inscreva-se{
  -webkit-transition: background-color .5s; /* Safari */
  transition: background-color .5s;
}


.btn-entrar{
	display: table;
	padding: 5px;
	background-color: rgba(102, 105, 107, 0.6);
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.btn-entrar:hover{
	background-color: rgba(35, 57, 72, 0.6);
}

.btn-inscreva-se{
	display: table;
	width: 20%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #1da1f2;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border: none;
}

.btn-inscreva-se:hover{
	background-color: #115580;
}

/**************************
HEADER
*************************/

.header-index ::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
}
.header-index :-moz-placeholder {
   color: rgba(255,255,255,.5);
   opacity: 1;
}
.header-index ::-moz-placeholder {
   color: rgba(255,255,255,.5);
   opacity: 1;
}
.header-index :-ms-input-placeholder {
   color: rgba(255,255,255,.5);
}

.header-index{
	background-image: url('images/header-index.png');
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-index .container,
.header-index .container .col-md-6.col-md-offset-6,
.header-index .container .col-md-6.col-md-offset-6 .row{
	height: 100%;
}

.header-index .container .col-md-6.col-md-offset-6 .row{
	display: flex;
	align-items: center;
}

.header-index input[type=password],
.header-index input[type=email]{
	width: 100%;
	border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 5px;
	background-color: transparent;
	-webkit-transition: background-color .5s; /* Safari */
  transition: background-color .5s;
	outline: none;
	color: #fff;
}

.header-pagina-interna{
	height: 50px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.4);
	background-image: url('images/logo.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	background-color: white;
	z-index: 999999999;
}

.header-pagina-interna .links-acesso-rapido i{
	margin-right: 10px
}

.header-pagina-interna .links-acesso-rapido .col-md-4{
	display: flex;
	align-items: center;
	justify-content: center;
}

.links-acesso-rapido{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-principal{
	height: 50px;
	display: flex;
	align-items: center;
}

.menu-principal .pesquisa{
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.3);
	padding: 6px;
	font-size: 13px;
	width: 100%;
}

/**************************
CADASTRO
*************************/
.linhaCadastro{
	height: 70px;
}

.linhaCadastro .label-cadastro{
	height: 100%;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}

.centro input[type=text],
.centro input[type=email],
.centro input[type=password]{
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 5px;
	padding-bottom: 0px;
	outline: none;
	margin: 0 auto;
	/*margin-top: 20px;*/
}

.centro .title-index{
	text-align: center;
}

/**************************
FEED
*************************/

.feed{
	margin-top: 60px;
}

.informacoes-rapidas-perfil{
	height: 90px;
}

.grid-imagem-perfil,
.grid-usuario-perfil{
	height: 100%;
}

.imagem-perfil{
	width: 100%;
	height: 100%;
}

.resumo-perfil{
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	padding: 10px;
}

.grid-usuario-perfil{
	display: flex;
	align-items: flex-end;
}

.resumo-conta{
	margin-top: 10px;
}

.resumo-conta a{
	font-size: 12px;
}

.post-tweet{
  background-color: #E5F2F7;
	padding: 10px 0px;
	border: 1px solid rgba(0,0,0,.1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.post-tweet .imagem-perfil{
	width: 50%;
	float: right;
}

.post-tweet .col-md-9{
	padding: 0px;
}

.post-tweet textarea{
	width: 100%;
	height: 35px;
}

.content-tweet{
	border: 1px solid rgba(0,0,0,.1);
    border-top: none;
    padding: 15px 0px;
}

.content-tweet .fa-reply,
.content-tweet .fa-refresh,
.content-tweet .fa-heart{
	-webkit-transition: color .5s; /* Safari */
  transition: color .5s;
	color: #aab8c2;
}

.content-tweet .fa-reply:hover{
	color: #0084B4;
	cursor: pointer;
}

.content-tweet .fa-refresh:hover{
	color: #19cf86;
	cursor: pointer;
}

.content-tweet .fa-heart:hover{
	color: #e81c4f;
	cursor: pointer;
}

.post-tweet,
.content-tweet{
	width: 100%;
}

.links-uteis p{
	display: table;
}

.rodape-grids{
    background: #f5f8fa;
    padding: 15px
}

.links-uteis{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 0px;
}

 .listagem-links{
 	padding: 15px;
 }
